@font-face {
    font-family: "Berg Inline";
    src: url("fonts/berg inline.ttf");
}

.wrapper {
    margin-right: auto;
    margin-left: auto;

    max-width: 1200px;
}

h4 {
    font-family: "Berg Inline", Helvetica, sans-serif;
    font-size: 22px;
}

p {
    border-bottom: 1px solid white;
    width: auto;
}

body, html {
    background-color: floralwhite;
    margin: 0;
    padding: 0;
    height: 3900px;
}

h2 {
    position: relative;
    text-align: center;
    top: -70px;
    text-shadow: black 2px 2px;

}

td, th {
    padding: 8px 5px 8px 5px;
}

th {
    font-family: "Berg Inline", Helvetica, sans-serif;
    font-size: 28px;
}

.sidenav {
    height: 3804px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: floralwhite;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    font-size: 30px;
    color: #AB2025;
    display: block;
    transition: 0.3s;
    text-decoration: none;
    font-family: "Berg Inline", Helvetica, sans-serif;;
}

.sidenav a:hover {
    color: #0a374d;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 36px;
    margin-left: 50px;

}

.sticky {
    position: fixed;
    top: 0;
    width: 1200px;

}

#navbar {
    overflow: hidden;
}

.bgimage {
    height: 900px;
    background: url("img/homepagebg3.jpg") no-repeat center;
    margin-top: -67px;

}

.border {

    border: 0;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 0 0;
    background-color: #ab2025;
    text-align: center;

}

.border1 {

    border: 0;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 0 0;
    background-color: #ab2025;
    text-align: center;
}

.rectangle {
    height: 100px;
    width: 1200px;
    text-align: center;
    color: ghostwhite;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 52px;
    font-family: "berg inline", Helvetica, sans-serif;
    background-image: url("img/pattern1.jpg");
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    text-shadow: black 2px 2px;

}

.rectangle2 {
    height: 100px;
    width: 1200px;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 52px;
    margin-bottom: 50px;
    font-family: "berg inline", Helvetica, sans-serif;
    background-image: url("img/pattern3.jpg");
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    text-shadow: black 2px 2px;

}

.rectangle3 {
    height: 100px;
    width: 1200px;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 52px;
    font-family: "berg inline", Helvetica, sans-serif;
    background-image: url("img/pattern4.jpg");
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    text-shadow: black 2px 2px;
    margin-top: 50px;

}

.rectangle4 {
    height: 100px;
    width: 1200px;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 52px;
    font-family: "berg inline", Helvetica, sans-serif;
    background-image: url("img/pattern8.jpg");
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    text-shadow: black 2px 2px;
}

.bringing {
    text-align: center;
    display: block;
    margin-bottom: 50px;
    font-family: "berg inline", Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    border: 0;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 0 0;
    background-color: #ab2025;
    text-shadow: black 2px 2px;
}

.slideshow-container {
    position: relative;
    height: 500px;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.imgsize{
    height:500px;
    width: 720px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}



.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color:#ab2025;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    color:#ba5342;

}

.active, .dot:hover {
    background-color: #ba5342;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.sushi {

    height: 320px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 35px;
    display: block;

}

.about {
    height: 110px;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-family: "Avenir", Sans-Serif;
    font-weight: lighter;
    line-height: 1.5;
    color: white;
    border: 0;
    background-color: #ab2025;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    text-shadow: black 2px 2px;
    margin-top:10px

}

.accordion {
    background-color: #ab2025;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 800px;
    text-align: center;
    font-size: 28px;
    transition: 0.4s;
    font-family: "Berg Inline", Helvetica, sans-serif;
    text-shadow: black 2px 2px;
    border: 1px solid #ba5342;

}

.active, .accordion:hover {
    background-color: #ba5342;
}

.panel {
    padding: 0 18px;
    background-color: #ba5342;
    max-height: 0;
    font-family: "Avenir", Sans-Serif;
    font-weight: lighter;
    text-shadow: black 2px 2px;
    color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

}

.accordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    text-shadow: none;

}

.active:after {
    content: "\2212";
}

.right {
    float: right;
    font-family: 'Avenir', Sans-Serif;
    font-weight: lighter;
    font-size: 15px;
}

.butmid {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.cheers {

    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    display: block;
    border-radius: 50%;
}

.happyhour {
    font-size: 20px;
    font-family: "Avenir", Sans-Serif;;
    font-weight: lighter;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: -40px;
    margin-bottom: 25px;
    color: white;
    border: 0;
    background-color: #ab2025;
    text-shadow: black 2px 2px;
    padding: 15px 15px 15px 15px;
}

.specials {
    text-align: center;
    display: block;
    margin-bottom: 50px;
    font-family: "berg inline", Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    border: 0;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 0 0;
    background-color: #ab2025;
    text-shadow: black 2px 2px;

}

.maps {
    width: 1200px;
    height: 500px;
}

.hours {
    font-size: 20px;
    font-family: Avenir, Sans-Serif;
    font-weight: lighter;
    text-align: left;
    display: inline-block;
    color: white;
    border: 0;
    padding: 0 10px 0 10px;
    background-color: #ab2025;
    text-shadow: black 2px 2px;
    height: 150px;
    width: 915px;

}

.address {
    font-size: 20px;
    font-family: Avenir, Sans-Serif;
    font-weight: lighter;
    text-align: right;
    color: white;
    border: 0;
    padding: 0 10px 0 10px;
    background-color: #ab2025;
    text-shadow: black 2px 2px;
    height: 150px;
    float: right;
    width: 265px;
}

.connect {
    font-family: "Avenir", Sans-Serif;
    font-weight: lighter;
    font-size: 16px;
}

.footer-social {
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    padding-top: 70px;

}

.footer {
    width: 1200px;
    height: 100px;
    background-color: #ab2025;
}